/*.wr {
 border: solid black;
 border-radius: 2px; 
 height: 100%;

margin: 3em;

}

.clear {
 clear: both;
}*/

.add-to-cart-button {
 display: inline-block;
/* border: none;*/
/* text-decoration: none;*/
 width: 100%;
 font-size:1em;
 
}

.button-div {

 text-align: center;
 width:30%;
 padding: 15px;
 border: solid black;
 border-radius:1px;
}

.custom-list-style {
  list-style: none;
}